<ul class="nav side-menu">
    <li>
        <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li><a href="@Url.Action("Index","Material")"><i class="fa fa-edit"></i> Materials</a></li>
    <li><a href="@Url.Action("Index","MaterialCategory")"><i class="fa fa-edit"></i> Categories</a></li>
    <li> <a href="@Url.Action("Index","Project")"><i class="fa fa-edit"></i>Projects</a> </li>
    <li><a href="@Url.Action("Index","Equipment")"><i class="fa fa-edit"></i>Equipemnts</a></li>
    <li><a href="@Url.Action("Index","Users")"><i class="fa fa-edit"></i>Users </a></li>
    <li><a href="@Url.Action("Index","Roles")"><i class="fa fa-edit"></i>Roles </a></li>



</ul>

